/* Created by Metrum AI for AMD */

.campaign-screen{display:flex;height:100%;gap:1px;transition:all .4s ease;}
.campaign-screen__pane{overflow-y:auto;transition:flex .4s ease,padding .4s ease;}
.campaign-screen__strategyPane{overflow-y:auto;transition:flex .4s ease;}
.campaign-screen__strategyInner{animation:slideInRight .4s ease;}
